<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" executionOrder="defects" cacheDirectory=".phpunit.cache">
  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/logs/html"/>
      <php outputFile="build/logs/coverage.serialized"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="ArrayLookup">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxHtml outputFile="build/logs/testdox.html"/>
    <testdoxText outputFile="build/logs/testdox.txt"/>
    <junit outputFile="build/logs/logfile.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
