name: "ci build"

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    name: PHP ${{ matrix.php-versions }} (${{ matrix.deps }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['8.2', '8.3', '8.4', '8.5']
        deps: ['lowest', 'latest']
    steps:
      - name: Setup PHP Action
        uses: shivammathur/setup-php@v2
        with:
          extensions: intl
          php-version: "${{ matrix.php-versions }}"
          coverage: pcov
      - name: Checkout
        uses: actions/checkout@v2
      - name: "Validate composer.json and composer.lock"
        run: "composer validate"
      - name: "Install dependencies (latest)"
        if: matrix.deps == 'latest'
        run: "composer install --no-interaction --no-progress --prefer-dist"
      - name: "Install dependencies (lowest)"
        if: matrix.deps == 'lowest'
        run: "composer update --no-interaction --no-progress --prefer-dist --prefer-lowest --prefer-stable"
      - name: "CS Check"
        run: "composer cs-check"
      - name: "Code analyze"
        run: |
          composer phpstan
          composer rector
      - name: "Run test suite"
        run: "composer test"
      - name: Upload coverage to Codecov
        if: github.event.pull_request.head.repo.full_name == 'samsonasik/ArrayLookup' && matrix.deps == 'latest' && matrix.php-versions == '8.4'
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/logs/clover.xml
          flags: tests
          name: codecov-umbrella
          codecov_yml_path: ./codecov.yml
          fail_ci_if_error: true
